{% extends "base.html" %}
{% block content %}

  <div class="main-container">
    <h1 class="title">Language Quiz</h1>
    
    <div class="box-container">

      <div class="box">
        <a class="button is-info" href="/practiceEn">practice</a>
        <p>practice writing english characters</p>
      </div>

      <div class="box">
        <a class="button is-info" href="/practiceJp">practice</a>
        <p>practice writing japanese characters</p>
      </div>

      <div class="box">
        <a class="button is-info" href="/practiceGr">practice</a>
        <p>practice writing greek characters</p>
      </div>

      <!--
      <div class="box">
        <a class="button is-info" href="/add-data">add data</a>
        <p>add data</p>
      </div>
      -->

    </div>

  </div>

  

{% endblock %}
